.page {
  --background: #000;
  --foreground: #000;

  --text-primary: #ededed;
  --text-secondary: #999;

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #1a1a1a;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-roboto);
  background-color: var(--background);
}
